/* HEADER */
header {
  height: 150px;
  position: relative;
  width: 1340px;
}

nav {
  margin-top: 70px;
  background-color: #ffb90f;
}

header nav img {
  width: 200px;
  position: absolute;
  top: -65px;
}

header nav ul {
  display: inline-block;
  list-style: none;
  margin-left: 160px;
  height: 60px;
}

header nav ul li {
  display: inline-block;
  padding: 15px 0 0 50px;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.form {
  display: inline-block;
  margin-left: 400px;
}
